body{
    margin:0px;
    padding: 0px;
    background-color: #011627;
    color:#fdfffc;
    text-align:center;
    background-image: url('https://static.vecteezy.com/system/resources/previews/012/244/430/non_2x/simple-vintage-background-with-classic-decoration-border-free-vector.jpg');
    background-position: center;
}
h1{
    font-size: 45px;
    color:rgb(255, 255, 255);
}
input{
    width: 75px;
    height:50px;
    font-size:45px;
    border-radius: 10px;
    margin:10px;
    background-color: white;
    color: black;
    border-style:groove;
}
.btn:hover{
    background-color:silver;
    cursor:pointer;
}








